/* footer */

footer {
    padding-top: 2rem;
    background-color: rgb(63, 62, 62);
    padding-bottom: 2rem;
    
  
   p {
    color: white;
    font-family: "shrikhand";
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  
   a {
    text-decoration: none;
    color: white;
  }
  
  .footer_ul {
    list-style-type: none;
    margin-bottom: 2rem;
  }
  
  .i1_li {
    padding-right: 6px;
  }
  
  .footer_li i {
    padding-right: 6px;
    color: white;
  }
  
  .footer_li {
    margin: 10px;
  }
  }
  
  @media screen and (min-width: 1025px) {
    footer p {
      text-align: center;
    }
  
    .footer_ul {
      text-align: center;
    }
  
    .footer_li i {
  
    padding-right: 3rem;
    }
  }
  
  
  