
  @media screen and (max-width: 388px) {
    nav .menu_li {
        margin-left: -20px;
        margin-right: 20px;
    }

    .restaurants:not(.titre_restaurants) .resto img {
        height: 170px;
    }

    .coeur {

    right: 10%;
    margin-top: 20px;

  }
}
  
  
@media screen and (max-width: 388px) {
    
    .menu .titlerestaurant {
      font-size: 1rem;
    }
  
    .menu .titlepage i   {
      margin-top: 1.3rem;
    }
  
    .menu .desc_title {
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }

  }
  


@media screen and (min-width: 1024px){


    .spinner {
    left: 48%;
    }


    .titre_restaurants {
        margin-left: 3.5rem;
    }

    .restaurants:not(.titre_restaurants)
    {
        margin-left: 10%;
        margin-right: 10%;
    }
    nav {
        
        .menu_ul {
        padding-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        }

        .menu_li {
        margin: 20px;
        margin-left: 10px;
        }

        .menu_icon {
            padding-left: 10px;
            padding-right: 10px;
        }

        .fonctionnement {
            margin-left: 13%;
        }
    }   

    .restaurants:not(.titre_restaurants) .nouveau   {
        right: 19%;
    }


    .restaurants:not(.titre_restaurants) .underresto {
        justify-content: center;
    }

    .restaurants:not(.titre_restaurants) .resto {
        margin: 60px;
    }   

    .restaurants:not(.titre_restaurants) .resto img {

        max-height: 300px;
    }


    .coeur {
        right: 25%;
    }

    .menu .desc_title {

    width: 500px;
    }

    .menu .titlerestaurant {
        display: flex;
        justify-content: center;
    }

    .menu .menu_group {
        align-items: center;
    }

    .menu .price {
        right: 35%;
    }

    .menu .titlepage .coeur{
    margin-top: 1.5rem;
    }
}

