@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}


header {

  p {
   text-align: center;
   font-family: "shrikhand";
   font-size: 2rem;
   margin-bottom: 0.8rem
 }
 
  i {
   font-size: 1.4rem;
   position: absolute;
   margin-left: 1rem;
   margin-top: 0.3rem;
   color: black;
 }
 
  img {
   width: 100%;
   height: 300px;
   object-fit: cover;
 }
 }
 


/* -------------------------------------------------  accueil body ------------------------- */


nav {
  .localisation {
    background-color: #e6e9ee;
    box-shadow: inset 5px 15px 5px -10px #c0c0c0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
  }

  .exploration {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  .reservation {
    font-size: 1.7rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.3rem;
  }

  .discovery {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
    margin-top: 0.3rem;
  }

   .myButton {
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
    border-radius: 29px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 1rem;
    padding: 18px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9752cc;
  }

   .myButton:active {
    position: relative;
    top: 1px;
  }

  .myButton:hover {
    background: linear-gradient(to bottom, #fca1e2 5%, #9e74d1 100%);
  }
  

  /* nav */

  .fonctionnement {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 3rem;
  }

  .menu_ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;

  }

  .menu_li {
    padding: 2rem;
    margin: 1rem;
    margin-right: 3rem;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 2px 2px #ebe8e8;
    background-color: #efefef;
    display: flex;
    justify-content: flex-start;
  }

  .menu_numero {
    margin-left: -45px;
    background-color: #9356dc;
    color: white;
    border-radius: 50%;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
  }

  .menu_icon {
    padding-top: 2px;
    padding-left: 30px;
    padding-right: 30px;
    color: grey;
  }

  .menu_li:hover {
    background: #c8abee;
  }
}


.titre_restaurants {
  font-size: 1.2rem;
  margin-left: 10%;
}

.restaurants:not(.titre_restaurants) {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 235, 236);
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .resto {
    box-shadow: 2px 2px 2px 2px #7e7979;
    margin-bottom: 3rem;
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    background-color: white;
  }

  .resto img {
    min-width: 100%;
    object-fit: cover;
    max-height: 200px;
    border-radius: 20px 20px 0 0;
  }

 
  .nouveau {
    border-radius: 10%;
    padding: 5px 10px;
    right: 5%;
    margin-top: 15px;
    position: absolute;
    background-color: #99e2d0;
    color: #2c9c81;
    font-size: 1rem;
    font-weight: bold;
  }

  .underresto {
    display: flex;
    flex-direction: row;
  }

  .nameRestaurant {
    font-weight: bold;
    padding-left: 2rem;
  }

  .placeRestaurant {
    font-weight: normal;
  }

  .underresto i {
 
    font-size: 1.5em;
    color: grey;
    position: absolute;
    right: 15%;
    margin-top: 15px;

  }
}


/* mq > 380px acceuil */

@media screen and (max-width: 388px) {
  nav .menu_li {
      margin-left: -20px;
      margin-right: 20px;
  }
}



/* page 1  */




.menu > .commandez {
  text-align: center;
}

.menu {
  background-color: rgb(246, 246, 246);
  border-radius: 25px 25px;
  font-family: "roboto";

  .titlepage {
    display: flex;
    flex-direction: row;
  }
  .titlerestaurant {
    font-family: "shrikhand";
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .titlepage i {
    position: absolute;
    right: 0;
    margin-right: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .hearthtitle i:hover {
          color: pink;
    }



  .menu_group {
    display: flex;
    flex-direction: column;
  }

  .titlewhitchplate {
    border-bottom: solid #99e2d0;
    font-size: 0.8rem;
    margin-left: 1rem;
    width: 2.5rem;
  }

  .desc_title {
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 1px 1px #e4dcdc;
    margin: 1rem;
    border-radius: 25px 25px 25px 25px;
    background-color: white;
    height: 80px;

  }

  .titleplate {
    display: flex;
    flex-direction: column;
  }

  .desc_title h3 {
    margin-top: 1rem;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .desc_title h4 {
    font-size: 0.8rem;
    margin-left: 1rem;
    opacity: 0.8;
    margin-top: 0.8rem;

  }

  .price {
    position: absolute;
    right: 0;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }

  .commandez {
    background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
    border-radius: 29px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    padding: 18px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9752cc;
    margin-bottom: 60px;
    margin-top: 50px; 
    justify-content: center;
    align-items: center;
  }  

  .commandez:hover {
    background: linear-gradient(to bottom, #f7ace1 5%, #a97edd 100%);
  }

  .command {
 display: flex;
 justify-content: center;
  }
}

@media screen and (max-width: 388px) {
  
  .menu .titlerestaurant {
    font-size: 1rem;
  }

  .menu .titlepage i   {
    margin-top: 1.3rem;
  }

  .menu .desc_title {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .menu .price {
    margin-right: 1.2rem;
  }
}






/* footer */

footer {
  padding-top: 2rem;
  background-color: rgb(63, 62, 62);
  padding-bottom: 2rem;
  
 


 p {
  color: white;
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

 a {
  text-decoration: none;
  color: white;
}

.footer_ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

.i1_li {
  padding-right: 6px;
}

.footer_li i {
  padding-right: 6px;
  color: white;
}

.footer_li {
  margin: 10px;
}
}

@media screen and (min-width: 1025px) {
  footer p {
    text-align: center;
  }

  .footer_ul {
    text-align: center;
  }

  .footer_li i {

  padding-right: 3rem;
  }
}
