@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}

header p {
  text-align: center;
  font-family: "shrikhand";
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

header i {
  font-size: 1.4rem;
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.3rem;
  color: black;
}

header img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* footer */
footer {
  padding-top: 2rem;
  background-color: #3f3e3e;
  padding-bottom: 2rem;
}

footer p {
  color: white;
  font-family: "shrikhand";
  font-size: 1.5rem;
  padding-left: 0.5rem;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .footer_ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

footer .i1_li {
  padding-right: 6px;
}

footer .footer_li i {
  padding-right: 6px;
  color: white;
}

footer .footer_li {
  margin: 10px;
}

@media screen and (min-width: 1025px) {
  footer p {
    text-align: center;
  }
  .footer_ul {
    text-align: center;
  }
  .footer_li i {
    padding-right: 3rem;
  }
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}

nav .localisation {
  background-color: #e6e9ee;
  -webkit-box-shadow: inset 5px 15px 5px -10px #c0c0c0;
          box-shadow: inset 5px 15px 5px -10px #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

nav .exploration {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

nav .reservation {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.3rem;
}

nav .discovery {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  margin-top: 0.3rem;
}

nav .myButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #efdcfb;
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  border-radius: 29px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  padding: 18px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9356DC;
}

nav .myButton:active {
  position: relative;
  top: 1px;
}

nav .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fca1e2), to(#9e74d1));
  background: linear-gradient(to bottom, #fca1e2 5%, #9e74d1 100%);
}

nav .fonctionnement {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3rem;
}

nav .menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

nav .menu_li {
  padding: 2rem;
  margin: 1rem;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 2px 2px 2px 2px #ebe8e8;
          box-shadow: 2px 2px 2px 2px #ebe8e8;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .menu_numero {
  margin-left: -45px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

nav .menu_icon {
  padding-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
  color: grey;
}

nav .menu_li:hover {
  background: #e9dafd;
}

.titre_restaurants {
  font-size: 1.2rem;
  margin-left: 3rem;
}

.restaurants:not(.titre_restaurants) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9ebec;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.restaurants:not(.titre_restaurants) .resto {
  -webkit-box-shadow: 2px 2px 2px 2px #7e7979;
          box-shadow: 2px 2px 2px 2px #7e7979;
  margin-bottom: 3rem;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.restaurants:not(.titre_restaurants) .resto img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
}

.restaurants:not(.titre_restaurants) .nouveau {
  border-radius: 10%;
  padding: 5px 10px;
  right: 5%;
  margin-top: 15px;
  position: absolute;
  background-color: #99E2D0;
  color: #2c9c81;
  font-size: 1rem;
  font-weight: bold;
}

.restaurants:not(.titre_restaurants) .underresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants:not(.titre_restaurants) .nameRestaurant {
  font-weight: bold;
  padding-left: 2rem;
}

.restaurants:not(.titre_restaurants) .placeRestaurant {
  font-weight: normal;
}

/* mq > 380px acceuil */
@media screen and (max-width: 388px) {
  nav .menu_li {
    margin-left: -20px;
    margin-right: 20px;
  }
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}

.menu > .commandez {
  text-align: center;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 25px 25px;
  position: relative;
  bottom: 3rem;
}

.menu .titlepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .titlepage .coeur {
  padding-top: -50px;
}

.menu .titlerestaurant {
  font-family: "shrikhand";
  font-size: 1.2rem;
  margin-left: 1rem;
}

.menu .menu_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .titlewhitchplate {
  border-bottom: solid #99E2D0;
  font-size: 0.8rem;
  margin-left: 1rem;
  width: 2.5rem;
}

.menu .desc_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 1px 1px 1px 1px #e4dcdc;
          box-shadow: 1px 1px 1px 1px #e4dcdc;
  margin: 1rem;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  height: 80px;
}

.menu .titleplate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .desc_title h3 {
  margin-top: 1rem;
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-left: 1rem;
}

.menu .desc_title h4 {
  font-size: 0.8rem;
  margin-left: 1rem;
  opacity: 0.8;
  margin-top: 0.8rem;
}

.menu .price {
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-right: 3rem;
}

.menu .commandez {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA 5%, #9356DC 100%);
  border-radius: 29px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  padding: 18px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
  margin-bottom: 60px;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .commandez:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f7ace1), to(#a97edd));
  background: linear-gradient(to bottom, #f7ace1 5%, #a97edd 100%);
}

.menu .command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 388px) {
  .menu .titlerestaurant {
    font-size: 1rem;
  }
  .menu .titlepage i {
    margin-top: 1.3rem;
  }
  .menu .desc_title {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
  .menu .price {
    margin-right: 1.2rem;
  }
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}

.coeur {
  font-size: 1.5em;
  color: grey;
  position: absolute;
  right: 15%;
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

i {
  font-family: "Font Awesome 5 Free";
  font-weight: normal;
  font-style: normal;
}

.coeur:hover i {
  font-weight: bold;
}

.coeur:hover {
  background: -webkit-linear-gradient(#ac6594, #88456a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  header, nav, article {
    opacity: 0;
  }
}

@keyframes circle {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  header, nav, article {
    opacity: 0;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 6px solid #9356DC;
  border-left-color: #FF79DA;
  border-bottom-color: #99E2D0;
  border-right-color: transparent;
  border-radius: 100%;
  -webkit-animation: circle .8s linear infinite;
  animation: circle 8s linear infinite;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.hovericon {
  visibility: hidden;
}

.desc_title:hover .price {
  color: red;
  cursor: pointer;
  padding-right: 30px;
}

.desc_title:hover .hovericon i {
  color: #99e2d0;
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  width: 30px;
}

@media screen and (min-width: 1024px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  nav .menu_ul {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .menu_li {
    margin: 20px;
    margin-left: 10px;
  }
  nav .menu_icon {
    padding-left: 10px;
    padding-right: 10px;
  }
  .restaurants:not(.titre_restaurants) .nouveau {
    right: 19%;
  }
  .restaurants:not(.titre_restaurants) .underresto {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants:not(.titre_restaurants) .resto {
    margin: 60px;
  }
  .restaurants:not(.titre_restaurants) .resto img {
    max-height: 300px;
  }
  .coeur {
    right: 25%;
  }
  .menu .desc_title {
    width: 500px;
  }
  .menu .titlerestaurant {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu .menu_group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .price {
    right: 35%;
  }
  .menu .titlepage .coeur {
    margin-top: 1.5rem;
  }
}
