@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

body {
  margin: 2px;
}

header,
nav {
  font-family: "roboto";
}

.header_logo {
  width: auto;
  max-width: 200px;
}

header p {
  text-align: center;
}

.localisation {
  background-color: #e6e9ee;
  -webkit-box-shadow: inset 5px 15px 5px -10px #c0c0c0;
          box-shadow: inset 5px 15px 5px -10px #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.exploration {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.reservation {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
}

.discovery {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  margin-top: 5px;
}

.exploration .myButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #efdcfb;
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff79d9), to(#9256dc));
  background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
  background-color: #ff79d9;
  border-radius: 29px;
  border: 1px solid #99e2d0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 18px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}

.exploration .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9256dc), to(#ff79d9));
  background: linear-gradient(to bottom, #9256dc 5%, #ff79d9 100%);
  background-color: #9256dc;
}

.exploration .myButton:active {
  position: relative;
  top: 1px;
}

/* nav */
.fonctionnement {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

.menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

.menu_li {
  padding: 30px;
  margin: 15px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 2px 2px 2px 2px #ebe8e8;
          box-shadow: 2px 2px 2px 2px #ebe8e8;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu_numero {
  margin-left: -45px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

.menu_icon {
  padding-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
  color: grey;
}

.menu_li:hover {
  background: #c8abee;
}

@media screen and (min-width: 1025px) {
  .menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    margin-left: 400px;
  }
}

/* le text align est pas fonctionnel du coup j'ai mis un vieux margin */
/* fin nav */
.titre_restaurants {
  font-size: 20px;
  margin-left: 10%;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9ebec;
  padding-left: 10px;
  padding-right: 10px;
}

.restaurants .resto {
  -webkit-box-shadow: 2px 2px 2px 2px #7e7979;
          box-shadow: 2px 2px 2px 2px #7e7979;
  margin-bottom: 30px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.restaurants .resto img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
  border-radius: 20px 20px 20px 20px;
}

.restaurants .underresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants .nameRestaurant {
  font-weight: bold;
  padding-left: 25px;
}

.restaurants .placeRestaurant {
  font-weight: normal;
}

.restaurants .hearth {
  padding-top: 20px;
  padding-left: 200px;
  font-size: 1.5em;
  color: grey;
}

@media screen and (min-width: 1025px) {
  .restaurants :not(.titre_restaurants) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .resto {
    width: 40%;
  }
  .imgresto {
    max-width: 200px;
  }
}

/* footer */
footer {
  margin-top: 25px;
  padding-top: 25px;
  background-color: grey;
  padding-bottom: 25px;
  font-family: "Roboto";
  padding-left: 30px;
}

.footer_logo img {
  color: white;
}

/* color reservia ain't working */
footer p {
  color: white;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer_ul {
  list-style-type: none;
  margin-bottom: 20px;
}

.i1_li {
  padding-right: 6px;
}

.footer_li i {
  margin-left: -30px;
  padding-right: 6px;
  color: white;
}

.footer_li {
  margin: 10px;
}

@media screen and (min-width: 1025px) {
  footer p {
    text-align: center;
  }
  .footer_ul {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */