@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "shrikhand";
  src: url("fonts/Shrikhand-Regular.otf");
}

body {
  font-family: "roboto";
  margin: 0.2rem;
}

header .header_logo {
  width: auto;
  font-family: "shrikhand";
  text-align: center;
  font-size: 3rem;
}

/* nav */

nav .localisation {
  background-color: #e6e9ee;
  -webkit-box-shadow: inset 5px 15px 5px -10px #c0c0c0;
          box-shadow: inset 5px 15px 5px -10px #c0c0c0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

nav .exploration {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3rem;
}

nav .reservation {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0.3rem;
}

nav .discovery {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.7;
  margin-top: 0.3rem;
}

nav .exploration .myButton {
  -webkit-box-shadow: inset 0px 1px 0px 0px #efdcfb;
          box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #ff79d9), to(#9256dc));
  background: linear-gradient(to bottom, #ff79d9 5%, #9256dc 100%);
  background-color: #ff79d9;
  border-radius: 29px;
  border: 1px solid #99e2d0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
  padding: 18px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9752cc;
}

nav .exploration .myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #9256dc), to(#ff79d9));
  background: linear-gradient(to bottom, #9256dc 5%, #ff79d9 100%);
  background-color: #9256dc;
}

nav .exploration .myButton:active {
  position: relative;
  top: 1px;
}

nav .fonctionnement {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 3rem;
}

nav .menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
}

nav .menu_li {
  padding: 2rem;
  margin: 1rem;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px 25px 25px 25px;
  -webkit-box-shadow: 2px 2px 2px 2px #ebe8e8;
          box-shadow: 2px 2px 2px 2px #ebe8e8;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .menu_numero {
  margin-left: -45px;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 5px 10px 5px 10px;
  font-size: 12px;
}

nav .menu_icon {
  padding-top: 2px;
  padding-left: 30px;
  padding-right: 30px;
  color: grey;
}

nav .menu_li:hover {
  background: #c8abee;
}

@media screen and (min-width: 1025px) {
  nav .menu_ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* le resto est pas dans l'article qui le rend gris */
.titre_restaurants {
  font-size: 1.2rem;
  margin-left: 10%;
}

.restaurants:not(.titre_restaurants) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e9ebec;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.restaurants:not(.titre_restaurants) .resto {
  -webkit-box-shadow: 2px 2px 2px 2px #7e7979;
          box-shadow: 2px 2px 2px 2px #7e7979;
  margin-bottom: 3rem;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.restaurants:not(.titre_restaurants) .resto img {
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 200px;
  border-radius: 20px 20px 0 0;
}

.restaurants:not(.titre_restaurants) .nouveau {
  border-radius: 10%;
  padding: 5px 10px;
  right: 5%;
  margin-top: 15px;
  position: absolute;
  background-color: #99e2d0;
  color: #2c9c81;
  font-size: 1rem;
  font-weight: bold;
}

.restaurants:not(.titre_restaurants) .underresto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.restaurants:not(.titre_restaurants) .nameRestaurant {
  font-weight: bold;
  padding-left: 2rem;
}

.restaurants:not(.titre_restaurants) .placeRestaurant {
  font-weight: normal;
}

.restaurants:not(.titre_restaurants) .underresto i {
  font-size: 1.5em;
  color: grey;
  position: absolute;
  right: 5%;
  margin-top: 15px;
}

@media screen and (min-width: 1025px) {
  .restaurants:not(.titre_restaurants) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .resto {
    margin-right: 5rem;
    height: 310px;
    width: 35%;
  }
  .nameRestaurant {
    width: 200px;
    position: absolute;
  }
}

/* footer */
footer {
  padding-top: 2rem;
  background-color: black;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

footer p {
  color: white;
  font-family: "shrikhand";
  font-size: 3rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer_ul {
  list-style-type: none;
  margin-bottom: 2rem;
}

.i1_li {
  padding-right: 6px;
}

.footer_li i {
  margin-left: -30px;
  padding-right: 6px;
  color: white;
}

.footer_li {
  margin: 10px;
}

@media screen and (min-width: 1025px) {
  footer p {
    text-align: center;
  }
  .footer_ul {
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */